svg {
    display: flex;
}

.header_inner_content_wrapper {
    background: #FFF;
    box-shadow: 0px 1px 0px 0px #ECECEC;
}

.header_inner_content {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu_lists {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header_middle_content {
    display: flex;
    width: 157px;
    height: 42px;
    justify-content: center;
    align-items: center;
}

.hambarger_menu_wrapper {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.header_single_menu_item {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart_count_notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #121212;
    border-radius: 50px;
    position: absolute;
    right: -13px;
    top: -7px;
}

.wishlist_count_notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #121212;
    border-radius: 50px;
    position: absolute;
    right: -7px;
    top: -7px;
}

.cart_count_number {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}

.wishlist_count_number {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}

/* tab style */

/* @__mobile_menu_nav_menu__@ */
.mobile_navbar_wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.mobile_nav_icon {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.mobile_navlists_wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_nav_inner_content {
    padding: 13px 0px;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.mobile_navlist_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3px;
}

.mobile_nav_text {
    color: #333;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

/* @__overlay style__@ */
.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
}

.overlay.active_overlay {
    opacity: 1;
    visibility: visible;
}

/* @__mobile sidebar menu __@  */
.mobile_sidebar_menu_wrapper {
    height: 100vh;
    width: 320px;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: #FFFFFF;
    transition: left 0.4s linear;
}

.mobile_sidebar_menu_wrapper.open_mobile_menu_sidebar {
    left: 0;
}

.menu_header_items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #F3F3F3;
    box-shadow: 0px 1px 0px 0px #ECECEC;
    width: 100%;
}

.menu_header_item {
    padding: 10px 20px;
    text-align: center;
    width: 50%;
    color: #121212;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_header_item.active_menu_header {
    background: #E3E3E3;
    box-shadow: 0px 1px 0px 0px #0EC1AE;
}

.sidebar_main_menu_lists {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar_menu_single_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border-bottom: 1px solid #ECECEC;
}

.menu_expandable_icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.menu_title {
    color: #121212;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.sub_menu_items_wrapper {
    position: absolute;
    width: 100%;
    bottom: -46px;
    left: 0;
}

.sub_menu_items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub_menu_item {
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width:640px) {}

@media screen and (min-width:768px) {
    .mobile_navbar_wrapper {
        display: none;
    }
}